//output:index.html
doctype html
html
  head
    title gobook
    
    // bootstrap
    link(rel="stylesheet" href="packages/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="packages/bootstrap/css/bootstrap-theme.css") 
  
    script(async="", src="web/scripts/main.dart", type="application/dart")
    script(async="", src="packages/browser/dart.js") 
  
  base(href="/")
  
  body
    goprofile Loading...
    script(src="imports/jquery.js")
    script(src="packages/bootstrap/js/bootstrap.js")
    
  
    
  
      
