//output:index.html
doctype html
html
  head
    title gobook
    
    // bootstrap
    link(rel="stylesheet" href="imports/bootstrap.css")
    link(rel="stylesheet" href="imports/bootstrap-theme.css")
    
    link(rel="stylesheet" href="web/style/app.css") 
  
    script(async="", src="web/main.dart", type="application/dart")
    script(async="", src="imports/dart.js")
    
  
  base(href="/")
  
  body
    goprofile Loading...
    script(src="imports/jquery.js")
    script(src="imports/bootstrap.min.js")
    script(src="build/web/main.dart.js")
    
  
    
  
      
