//output:navbar.tpl.html
nav.navbar.navbar-inverse.navbar-static-top.topnav(role="navigation")
  div.container.topnav
    div.navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand.topnav(href="/") GoBook
    div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.navbar.navbar-right
          li
            a(href="#")
              span.glyphicon.glyphicon-book Entries
          
